.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 4rem; /* Adjust height as needed */
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 20;
    transition: ease-in-out 500ms;
  }
  
.navbar-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.logo{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.logo img{
    height: 20rem;
}

.navbar-links a{
  color: black;
  font-family: 'poppins', sans-serif;
  font-size: 1.125rem; /* Equivalent to 18px */
  font-weight: 500;
  line-height: 1.5; /* Adjust as needed */
  text-decoration: none;
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  cursor: pointer;
  transition: color 0.3s ease; 
}

.navbar-links a:hover {
    color: #3182ce;
}

.scrolled {
    height: 4rem; /* Same height as .navbar */
    background-color: rgba(255, 255, 255, 0.747); /* Adjust background color and opacity as needed */
    backdrop-filter: blur(4px); /* Adjust backdrop filter strength as needed */
    border-radius: 0.25rem; /* Adjust border radius as needed */
    padding: 0 1rem; /* Adjust padding as needed */
    transition: ease-in-out 500ms;
}

.logo-container {
    padding-left: 20px;
    width: 80%; 
  }